*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    font-family: Helvetica, sans-serif;
}

.cabecalho_bg{
    background-color: #1D1E20;
}

.cabecalho{
    color: #fff;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 40px;
}

.logo{
    font-weight: 400;
}

.menu_cabecalho{
    display: flex;
    gap: 50px;
}

.menu_cabecalho a{
    color: #fff;
    font-size: 1.125rem;
}

.principal_bg{
    background-color: #fff;
    height: calc(100vh - 77px);
}

.principal{
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    display: grid;
    gap: 20px;
}

.principal_noticias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.noticias{
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.noticias h2{
    font-weight: 400;
    font-size: 1.125rem;
}

.produtos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.propaganda{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.propaganda h2{
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
}

.produtos_link{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 10px;
    align-items: center;
}

.produtos_link h3{
    font-size: 1.125rem;
    font-weight: 400;
}